/* ================= NAVBAR ================= */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  background: rgb(17, 20, 23);
}

/* Active link */
.active {
  color: rgb(107, 211, 211);
}

/* ================= DESKTOP MENU ================= */

.desktopMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  font-size: 20px;
}

nav h1 {
  font-size: 30px;
  background: linear-gradient(to right, rgb(66, 180, 205), white);
  background-clip: text;
  color: transparent;
}

nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  color: rgb(107, 211, 211);
  border-bottom: 2px solid white;
}

/* ================= HAMBURGER ================= */

.hamburger {
  display: none; /* Hidden on desktop */
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  z-index: 21;
}

.ham {
  width: 35px;
  height: 3px;
  background-color: aliceblue;
  transition: 0.3s ease;
}

/* Hamburger animation when active */
.hamburger.active .ham:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}

.hamburger.active .ham:nth-child(2) {
  opacity: 0;
}

.hamburger.active .ham:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -12px;
}

/* ================= MOBILE MENU ================= */

.mobileMenu {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(17, 20, 23);
  backdrop-filter: blur(100px);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
  padding-top: 60px;
  list-style: none;
  z-index: 19;
}

/* When open */
.mobileMenu.active {
  transform: translateX(0);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 750px) {
  .desktopMenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}