nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    width:100%;
    position:fixed;
    top:0;
    z-index: 20;
    background:rgb(17,20,23);
    overflow: hidden;
    
    
}
.active{
    color:rgb(107,211,211);
    border-bottom: 2px solid white;
}

nav ul{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  list-style: none;
  font-size: 20px;

}

nav h1{
  font-size:30px;
  background: linear-gradient(to right,rgb(66,180,205),white);
  background-clip: text;
  color:transparent;
}

nav ul a{
    cursor:pointer;
}

nav ul a:hover{
    color:rgb(107,211,211);
    border-bottom: 2px solid white;
}

.hamburger{
    display:flex;
    flex-direction: column;
    gap:8px;
    cursor: pointer;
    display:none;
}

.ham{
    width:40px;
    height:2px;
    background-color: aliceblue;
}

.mobileMenu{
    position:absolute;
    top:80px;
    width:100%;
    height:100vh;
    background-color: rgb(17,20,23);
    opacity:90%;
    backdrop-filter: blur(100px);
    right:0;
    transform: translateX(100%);
    flex-direction: column;
    display:flex;                 /* ✅ ALWAYS flex */
    transition: transform 0.5s ease;
}

.activeMobile{
    transform: translateX(0);
}
.activeHam .ham:nth-child(1){
    transform: rotate(45deg) ;
    position: relative;
    top:8px;
}

.activeHam .ham:nth-child(2){
    opacity:0;
}

.activeHam .ham:nth-child(3){
    transform: rotate(-45deg);
    position:relative;
    top:-12px;
}

@media (max-width:750px){
    .desktopMenu{
        display:none;
    }
    .hamburger{
        display:flex;
    }
    
   
}

